{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>GitHub Graph Drawer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              nilCell: "#121212",
              emptyCell: "#161b22",
              occupied1: "#0e4429",
              occupied2: "#006d32",
              occupied3: "#26a641",
              occupied4: "#39d353",
            },
          },
        },
      };
    </script>
  </head>
  <body style="background-color: #121212">
    <form
      class="m-1"
      hx-get="/contribution-graph"
      hx-swap="innerHTML"
      hx-target="#graph"
      hx-trigger="keyup"
    >
      <input
        class="p-1 bg-[#343434] text-white w-72 rounded-md border border-[#121212]"
        type="text"
        name="msg"
        placeholder="Type to get htmx busy!"
        autocomplete="off"
        maxlength="17"
      />
      <a
        id="download-script"
        download
        class="bg-[#efefef] rounded-md border border-[#121212] hover:bg-[#121212] hover:text-[#efefef] hover:border-[#efefef] cursor-pointer text-[#121212] p-1 font-bold"
      >
        Download Script
      </a>
    </form>

    <div id="graph"></div>
    <script>
      const downloadLink = document.getElementById("download-script");
      document.getElementById("msg").addEventListener("keyup", (e) => {
        const msg = e.target.value;
        downloadLink.href = "/generate-script?msg=" + msg;
        downloadLink.download = `Draw "${msg}" on github graph script.sh`;
      });
    </script>
  </body>
</html>
{{ end }}
