{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>GitHub Graph Drawer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/resources/favicon.png" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- GitHub star repo button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- IBM Plex Mono Font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              IBMPlexMono: ["IBM Plex Mono", "monospace"],
            },
            colors: {
              nilCell: "#121212",
              emptyCell: "#161b22",
              occupiedCell: "#39d353",
            },
          },
        },
      };
    </script>
  </head>

  <body
    style="
      background-color: #121212;
      height: 100dvh;
      font-family: &quot;IBM Plex Mono&quot;, monospace;
    "
  >
    {{ template "header" }}

    <div class="w-screen flex justify-center">
      <div class="mt-[60px] md:mt-[30px]">
        <h1
          class="text-center text-[#EDEDED] text-[14px] md:text-[20px] font-medium mb-[15px] md:mb-[30px]"
        >
          Draw on you GitHub contributions graph
        </h1>

        <form
          class="m-1"
          hx-get="/contribution-graph"
          hx-swap="innerHTML"
          hx-target="#graph"
          hx-trigger="keyup"
        >
          <input
            class="p-[8px] md:p-[16px] bg-[#121212] text-white w-[330px] md:w-[600px] rounded-[5px] border-[3px] border-[#EDEDED]"
            type="text"
            id="msg"
            name="msg"
            placeholder="Type to generate a preview!"
            autocomplete="off"
            maxlength="15"
          />
        </form>
      </div>
    </div>
    <div id="graph"></div>
  </body>
</html>
{{ end }}
