{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GitHub Graph Drawer</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta property="og:title" content="GitHub Graph Drawer" />
    <meta
      property="og:description"
      content="A tool that helps typing text on your GitHub contributions graph."
    />
    <meta
      name="description"
      content="A tool that helps typing text on your GitHub contributions graph."
    />
    <meta
      name="keywords"
      content="madebybaraa,github,github graph,github graph drawer,contributions,contributions graph,golang,go,htmx,tailwindcss"
    />

    <link rel="icon" href="/resources/favicon.png" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- GitHub star repo button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- IBM Plex Mono Font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              IBMPlexMono: ["IBM Plex Mono", "monospace"],
            },
            colors: {
              nilCell: "#121212",
              emptyCell: "#161b22",
              occupiedCell: "#39d353",
            },
          },
        },
      };
    </script>

    <style>
      .loader {
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-width: 6px;
        border-style: solid;
        border-color: #dedede;
        border-top-color: transparent;
        border-top-width: 2px;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
        margin: 5px;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body
    hx-ext="loading-states"
    style="
      background-color: #121212;
      height: 100dvh;
      font-family: &quot;IBM Plex Mono&quot;, monospace;
    "
  >
    {{ template "header" }}

    <div class="w-screen flex justify-center">
      <div class="mt-[60px] md:mt-[30px]">
        <h1
          class="text-center text-[#EDEDED] text-[14px] md:text-[20px] font-medium mb-[15px] md:mb-[30px]"
        >
          Draw on you GitHub contributions graph
        </h1>

        <form
          class="m-1"
          hx-get="/graphgen/preview"
          hx-swap="innerHTML"
          hx-target="#graph"
          hx-trigger="keyup,changed"
        >
          <div
            class="grid grid-cols-1 place-items-center content-center gap-y-[10px]"
          >
            <input
              class="p-[8px] md:p-[16px] bg-[#121212] text-white w-[330px] md:w-[600px] rounded-[5px] border-[3px] border-[#EDEDED]"
              type="text"
              id="msg"
              name="msg"
              placeholder="Type to generate a preview!"
              autocomplete="off"
              maxlength="69"
            />

            <div class="flex gap-x-[20px]">
              <select
                name="font"
                id="font"
                class="p-[8px] md:p-[10px] w-[155px] rounded-[5px]"
              >
                <option selected disabled>Choose Font</option>
                <option value="3x5">Single Line (more readable)</option>
                <option value="3x3">Two Lines (less readable)</option>
              </select>

              <input
                class="p-[5px] bg-[#121212] text-white w-[155px] rounded-[5px] border-[3px] border-[#EDEDED]"
                type="number"
                min="1973"
                max="2100"
                value="{{ .CurrentYear }}"
                name="year"
                placeholder="Commit year"
                maxlength="4"
              />
            </div>
            <div class="w-[330px] flex justify-center">
              <input
                class="block p-[5px] bg-[#121212] text-white w-[350px] rounded-[5px] border-[3px] border-[#EDEDED]"
                type="number"
                name="commits-count"
                value="{{ .DefaultCommitsCount }}"
                min="1"
                max="300"
                placeholder="Wanted commits per day"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="graph"></div>
  </body>
</html>
{{ end }}
